<div class="container">
    <div class="col-md-5">
        <div class="form-area">
            <form role="form" ng-submit="controller.addClientRqst()">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Client Form</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                           ng-model="controller.clientToAdd.name"
                           required>
                </div>

                <div class="dropdown form-group">
                    <label>Please select type of client:</label>
                    <select class="form-control" ng-model="controller.clientToAdd.type" ng-options="type as type for type in controller.types" required>
                        <option value="">---Select a type---</option> 
                    </select>
                </div>

                <input type="submit" class="btn btn-primary" value="Submit" />
                <button class="btn btn-xs" ui-sref="clients">Cancel</button>
            </form>
        </div>
    </div>
</div>