<div class="container">
    <div class="col-md-5">
        <div class="form-area">
            <form role="form" ng-submit="controller.addProjectRqst()">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Project Form</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                           ng-model="controller.projectToAdd.name"
                           required>
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="desc" name="desc" placeholder="Description"
                           ng-model="controller.projectToAdd.description"
                           required></textarea>
                </div>

                <div class="dropdown form-group">
                    <label>Please select type of client:</label>
                    <select class="form-control" ng-model="controller.projectToAdd.customer.id" ng-options="client.id as client.name for client in controller.clients" required>
                        <option value="">---Select client---</option>
                    </select>
                </div>

                <div class="dropdown form-group">
                    <label>Please select type of client:</label>
                    <select class="form-control" ng-model="controller.projectToAdd.priority" ng-options="priority as priority for priority in controller.priorities" required>
                        <option value="">---Select priority---</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="budget" name="budget" placeholder="Budget"
                           ng-model="controller.projectToAdd.budget"
                           required>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control datepicker" id="startDate" name="startDate" placeholder="Start End -> MM/dd/yyyy"
                           ng-model="controller.projectToAdd.startDate"
                           required>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control datepicker" id="endDate" name="endDate" placeholder="End Date -> MM/dd/yyyy"
                           ng-model="controller.projectToAdd.endDate" 
                           required>
                    
                </div>

                <br />                     

                <input type="submit" class="btn btn-primary" value="Submit" />
                <button class="btn btn-xs" ui-sref="projects">Cancel</button>
            </form>
        </div>
    </div>
</div>
