<div class="row">
     <!--jumbotron col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">-->
    <div class="text-center tableTitle">
        <h2>{{controller.message}}</h2>
        <h5>Check and edit clients information...</h5>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="5">
                            <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="plus" ng-click="controller.modalAddClient()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button> <em>Add new client</em>
                        </th>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <th>Type:</th>
                        <th>Create by:</th>
                        <th>Create Time:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in controller.clients">
                        <td>
                            <a ng-click="controller.modalEditClient(client)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            {{client.name}}
                        </td>
                        <td>{{client.type}}</td>
                        <td>{{client.createBy}}</td>
                        <td>{{client.createDate|date:'medium'}}</td>
                        <td>
                            <!--<button class="btn btn-warning" ui-sref="editClient({id: client.id})">Edit</button>-->
                            <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="minus" ng-click="controller.deleteClient(client.id)" >
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </td>
                        <!--<td><button class="btn btn-danger" ng-click="controller.deleteClient(client.id)">Delete</button></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>