<div class="modal-header">
    <h3 class="modal-title">Task - {{modal._task.title}}</h3>
</div>

<div class="modal-body">

    <form role="form">

        <div class="form-group">
            <textarea id="comment" class="form-control" ng-model="modal.comment.text" placeholder="Type comment here..." required ></textarea>
        </div>
        <label>--Comment history--</label>
        <div class="form-group">

            <textarea style="height: 150px" id="desc" class="form-control" ng-model="modal.commentsStr" placeholder="Description" disabled></textarea>
        </div>

    </form>


</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
</div>
