<div class="jumbotron">
    <!--<nav class="navbar navbar-inverse navnavnav ">
        <div class="container-fluid navnavnav">
            <div class="navbar-header text-center center-block navnavnav">
                <a class="navbar-brand" href="/">Return</a>
            </div>
        </div>
    </nav>-->
    <h2 class="tableTitle text-center">Project - {{controller.project.name}}</h2>

    <table>
        <tbody class="text-left">
            <tr>
                <td class="text-center">Description:</td>
                <td>{{controller.project.description}}</td>
            </tr>
            <tr>
                <td class="text-center">Status:</td>
                <td>{{controller.project.status}}</td>
            </tr>
            <tr>
                <td class="text-center">Priority:</td>
                <td>{{controller.project.priority}}</td>
            </tr>
            <tr>
                <td class="text-center">Start Date:</td>
                <td>{{controller.project.startDate|date:medium}}</td>
            </tr>
            <tr>
                <td class="text-center">End Date:</td>
                <td>{{controller.project.endDate|date:medium}}</td>
            </tr>
            <tr>
                <td class="text-center">Note:</td>
                <td><em>{{controller.project.note}}</em></td>
            </tr>
            <tr>
                <td colspan="2">
                    <!-- Start /Task Table-->

                    <table class="table">
                        <tr>
                            <th>
                                <button type="button" class="btn btn-info btn-number" data-type="plus" data-field="plus" ui-sref="projects">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                </button> <em>Back to project list</em>
                                <!--Task List.-->
                                <!--(<a href="#" ng-click="controller.showModal(controller.project)">Add new task</a>)-->


                            </th>
                            <th colspan="2">
                                <button type="button" class="btn btn-warning btn-number" data-type="plus" data-field="plus" ng-click="controller.modalEditProject(controller.project)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button> <em>Edit project</em>
                                <!--Task List.-->  
                                <!--(<a href="#" ng-click="controller.showModal(controller.project)">Add new task</a>)-->
                                

                            </th>

                            <th colspan="2">

                                <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="plus" ng-click="controller.modalAddTask(controller.project)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button> <em>Add new task</em>

                            </th>
                        </tr>
                        <tr>
                            <th>
                                Title/Short description
                            </th>
                            <th>
                                Status/Priority
                            </th>
                            <th>
                                Start/End
                            </th>
                            <th>
                                Assigned To
                            </th>
                            <th>
                                Comments
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                        <tr ng-repeat="task in controller.project.tasks">
                            <td>
                                <a ng-click="controller.modalEditTask(controller.project.name, task)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                {{task.title}}:<em>{{task.description}}</em>
                            </td>
                            <td>
                                {{task.status}}
                                /{{task.priority}}
                            </td>
                            <td>
                               {{task.startDate|date:medium}}/ {{task.endDate|date:medium}}
                            </td>
                            <td>
                                {{task.assignedEmployee}}
                            </td>
                            <td>
                                <a ng-click="controller.modalAddComment(task)" class="star">
                                    <i class="glyphicon glyphicon-comment"></i>
                                </a>
                            </td>
                            <td>

                                <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="minus">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>


                            </td>
                        </tr>

                    </table>


                    <!-- End /Task Table-->
                </td>
            </tr>
        </tbody>
    </table>
    <!--<div id="embeddedVideo" class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <p>{{controller.remix.youtubeUrl}}" </p>
    </div>-->
</div>