<!--<div class="text-center tableTitle">
    <h2>{{controller.message}}</h2>
    <h5>Check and edit projects information...</h5>
</div>-->

<div class="container">
    <div class="row">

        <section class="content">
            <h2>{{controller.message}}</h2>
            <h5>Check and edit projects information...</h5>
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn {{status.btn}} btn-filter" ng-repeat="status in controller.statuses" data-target="{{status.name}}" onclick="filter(this)"> {{status.name}}</button>
                            </div>
                        </div>
                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                    <tr ng-repeat="project in controller.projects" data-status="{{project.status}}">
                                        <td>
                                            <a ui-sref="projectDetails({id: project.id})" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
                                                    <span class="media-meta pull-right">{{project.createDate|date: medium}}</span>
                                                    <h4 class="title">
                                                        {{project.name}}
                                                        <span class="pull-right {{project.status}}">({{project.status}})</span>
                                                    </h4>
                                                    <p class="summary">{{project.description}}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content-footer">
                    <p>
                        Copyright © - 2017 <br>
                        <!--Powered By <a href="https://www.facebook.com/tavo.qiqe.lucero" target="_blank">TavoQiqe</a>-->
                    </p>
                </div>
            </div>
        </section>

    </div>
</div>