

    <div class="modal-header">
        <h3 class="modal-title">Project - {{modal.projectName}}</h3>
    </div>

    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label>Task title:</label>
                <input id="title" class="form-control" ng-model="modal.task.title" placeholder="Task Title" />
            </div>

            <div class="form-group">
                <label>Description:</label>
                <textarea id="desc" class="form-control" ng-model="modal.task.description" placeholder="Description" required></textarea>
            </div>

            <div class="dropdown form-group">
                <label>Task status:</label>
                <select class="form-control" ng-model="modal.task.status" ng-options="status as status for status in modal.statuses" required="">
                    <option value="">---Select status---</option>
                </select>
            </div>

            <div class="dropdown form-group">
                <label>Priority:</label>
                <select class="form-control" ng-model="modal.task.priority" ng-options="priority as priority for priority in modal.priorities" required>
                    <option value="">---Select priority---</option>
                </select>
            </div>


            <div class="form-group">
                <label>Budget:</label>
                <input id="budget" class="form-control" ng-model="modal.task.budget" placeholder="Budget" />
            </div>

            <div class="form-group">
                <label>Start date:</label>
                <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Start Date" ui-date ng-model="modal.task.startDate" required>
            </div>

            <div class="form-group">
                <label>End date:</label>
                <input type="text" class="form-control" id="endDate" name="endDate" placeholder="End Date" ui-date ng-model="modal.task.endDate" required>

            </div>


            <div class="dropdown form-group">
                <label>Assigned employee</label>
                <select class="form-control" ng-model="modal.task.assignedEmployee" ng-options="employee.name as employee.name for employee in modal.employees" required="">
                    <option value="">---Assign tast to employee---</option>
                </select>
            </div>

        </form>



</div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
        <!--<input type="submit" class="btn btn-primary" value="OK" />-->
    </div>


