body {
}

.content h2 h5 {
	text-align: center;
}

.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.created {
	color: #0026ff;
}
.table-filter .media .title span.ongoing {
	color: #2BBCDE;
}
.table-filter .media .title span.completed {
	color: #5cb85c;
}
.table-filter .media .title span.pending {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelled {
	color: #d9534f;
}

.table-filter .media .summary {
	font-size: 14px;
}
